<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h4>NVd3 Charts</h4>
    </div>
  </div>
  <div class="row d-flex justify-content-around">
    <div class="chart-display-container col-5">
      <proxima-scatter-plot></proxima-scatter-plot>
    </div>
    <div class="chart-display-container col-5">
      <proxima-sunburst-chart></proxima-sunburst-chart>
    </div>
    <div class="chart-display-container col-5">
      <proxima-parallel-coordinate-plot></proxima-parallel-coordinate-plot>
    </div>
    <div class="chart-display-container col-5">
      <proxima-candlestick-chart></proxima-candlestick-chart>
    </div>
    <div class="chart-display-container col-10">
      <proxima-stackarea-chart></proxima-stackarea-chart>
    </div>
    <div class="chart-display-container col-5">
      <proxima-proxima-directed-graph></proxima-proxima-directed-graph>
    </div>
    <div class="chart-display-container col-5">
      <proxima-pie-chart></proxima-pie-chart>
    </div>

    <div class="chart-display-container col-5">
      <proxima-proxima-box-plot></proxima-proxima-box-plot>
    </div>


    <div class="chart-display-container col-5">
      <proxima-proxima-cumulative-line-chart></proxima-proxima-cumulative-line-chart>
    </div>
  </div>

</div>